/* header */

#text-h5{
    color: blue;
}



/* corpo articolo */

.container-img{
    display: block;
}

.didascalia-img{
    font-size: 12px;
}

/* primo paragrafo */

.lorem1{
    background-color:#ffef0f;
}

/* stile tabella */

table{
    table-layout:fixed; width: 100%;
    text-align: justify;
}

#tr-thead{
    background-color: blue;
    color: white;
}

#tr-tbody1{
    background-color: lightblue;
}

/* secondo paragrafo */

.lorem2{
    background-color:#ffef0f
}

/* stile footer */

footer h3{
    color: gray;
}

.container {
    position: relative;
    color: white;
  }

  .text-img-1{
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 30px;
  }

  