/* header */

#text-h5{
    color: blue;
}



/* corpo articolo */

.lorem1{
    background-color:#ffef0f;
}

/* stile tabella */

table{
    table-layout:fixed; width: 100%;
    text-align: justify;
}

#tr-thead{
    background-color: blue;
}

#tr-tbody1{
    background-color: lightblue;
}

/* paragrafo */

.lorem2{
    background-color:#ffef0f
}